*{
  color: white;
}
body {
  font-family: Arial, sans-serif;
  background-color: #191919;
  margin: 0;
  padding: 0;
  color: white;
}

.navbar {
  background-color: #191919;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 30px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: #ed1010;
}

.nav-list li {
  margin: 0 15px;
  
}

.nav-list li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  transition: background-color 0.3s ease;
}
.nav-right .login {
  background-color:transparent;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  border-style: solid;
  border-color: #0beb12;
  color: white;
}

.nav-right .signup {
  background-color: #0beb12;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  color: black;
}

/* h1 main content  */

.Win{
  color:  #0beb12 ;
  text-align: center;
  font-size: 100px;
  margin-bottom: -5px;
}
.with{
  color: white;
  
}

.sub{
  color: rgb(59, 56, 56);
  text-align: center;
  
  justify-content: center;
}

/* input box  */

.wrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  position: relative;
  width: 100%;
}

.wrapper input {
  width: 100%;
  padding-right: 120px; /* Space for the button */
  background: transparent;
  border-radius: 10px;
  border: 2px solid #fffcfc;
  padding: 15px;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.wrapper button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: 2px solid #020202;
  background-color: #0beb12;
  border-radius: 10px;
  border-color:#fffcfc;
  padding: 5px 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Container  */

.verticalcon {
  font-family: 'Arial', sans-serif;
  background-color: #191919;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.feature {
  background-color: #262525;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  width: 30%;
}

.feature h2 {
  color: #4caf50;
  margin: 1rem 0;
}

.feature p {
  font-size: 1rem;
}
