* {
  color: white;

}

body {
  font-family: Arial, sans-serif; 
  background-color: #191919;
  margin: 0;
  padding: 0;
  color: white;
}

.navbar {
  background-color: #191919;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-left {
  display: flex;
  align-items: center;
  color: #363333;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 30px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
  margin: 0 15px;

}

.nav-list li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.nav-right .login {
  background-color: transparent;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  border-style: solid;
  border-color: #0beb12;
  color: white;
}

.nav-right .signup {
  background-color: #0beb12;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  color: black;
}

/* h1 main content  */

.Win {
  color: #0beb12;
  text-align: center;
  font-size: 100px;
  margin-bottom: -5px;
}

.with {
  color: white;

}

.sub {
  color: rgb(59, 56, 56);
  text-align: center;

  justify-content: center;
}

/* input box  */

.wrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  position: relative;
  width: 100%;
}

.wrapper input {
  width: 100%;
  padding-right: 120px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid #fffcfc;
  padding: 15px;
  box-sizing: border-box;
}

.wrapper button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: 2px solid #020202;
  background-color: #0beb12;
  border-radius: 10px;
  border-color: #fffcfc;
  padding: 5px 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Container  */

.verticalcon {
  font-family: 'Arial', sans-serif;
  background-color: #191919;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.feature {
  background-color: #262525;
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
  width: 30%;
}

.feature h2 {
  color: #4caf50;
  margin: 1rem 0;
}

.feature p {
  font-size: 1rem;
  color: rgb(120, 107, 107);
}
 /* second page  */

 .secondpage{
  background-color:#6de754;
  /* image color #6de754  */
  padding-bottom: none;
}

.top1{
  color: #020202;
  padding-top: 50px;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  margin-left: 0;
  margin-bottom: 0;
  
}
.top2{
  color: #020202;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 140px;
  font-weight: bold;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.bott{
  /* color: #020202;
  text-align: left;
  justify-content: center;
  font-size: 15px;
  font-weight: normal;
  margin-left: 13%; */
  color: #363333;
  padding-top: 1px;
  text-align: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  margin-left: 0;
}
.img2{
  margin-left: 120px;
}
.secondpage .part1{
  margin-bottom: 90px;
}

/* third page  */

.Thirdpage h1 {
  color: white;
  text-align: center;
  font-size: 60px;
  margin-bottom: -5px;

}

h3 {
  color: rgb(59, 56, 56);
  justify-content: center;
  text-align: center;
}

.create {
  width: 15%;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  border-style: solid;
  border-color: #0beb12;
  padding: 5px 20px;
  color: rgb(239, 231, 231);
  cursor: pointer;
  font-size: 15px;
  margin-left: 43%;
}

/* third page container  */

.verticalcon2 {
  font-family: 'Arial', sans-serif;
  background-color: #191919;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container2 {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.features {
  background-color: #262525;
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
  width: 30%;
}

.features h2 {
  color: #4caf50;
  margin: 1rem 0;
}

.features p {
  font-size: 1rem;
  color: rgb(120, 107, 107);
}

/* fourth page */
.fourthpage{
  background-color:#6de754;
  /* image color #6de754  */
  /* padding-bottom: 500px; */
  padding: 0px;
}

.content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.text-section1 {
  flex: 1;
  color: #020202;
  padding: 0px;
  margin-left: 300px;
}
.top41 {
  font-size: 50px;
  color: #0f110f;
  padding-top: 0px;
  align-items: center;
}

.bot41 {
  font-size: 15px;
  color: #0f110f;
  margin: 10px 0;
}
.image-section1 {
  /* flex: 1; */
  display: flex;
  text-align: center;
  margin-right: 60px;
}


.text-section2 {
  flex: 1;
  padding: 20px;
}
.top42 {
  font-size: 50px;
  color: #0f110f;
  padding-top: 0px;
  align-items: center;
}

.bot42 {
  font-size: 15px;
  color: #0f110f;
  margin: 10px 0;
}

.image-section2 {
  /* flex: 1; */
  display: flex;
  text-align: center;
  margin-left: 100px;
}

.image-section1 .image-section2 img {
  max-width: 80%;
  height: auto;
}



button {
  background-color: transparent;
  color: #000000;
  border-radius:10px;
  padding: 10px 20px;
  cursor: pointer;
  border-style:solid;
  border-color: #020202;
  font-size: 16px;
}

